org.opentosca.bpmn2bpel.converter/test/resources/bpmn/SugarCRM/EC2LinuxIAService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ec2linux.aws.ia.opentosca.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ec2linux.aws.ia.opentosca.org" xmlns:intf="http://ec2linux.aws.ia.opentosca.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ec2linux.aws.ia.opentosca.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="runScript">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="script" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runScriptResponse">
    <complexType>
     <sequence>
      <element name="runScriptReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="installPackage">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="packageName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="installPackageResponse">
    <complexType>
     <sequence>
      <element name="installPackageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="runScriptResponse">

      <wsdl:part element="impl:runScriptResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="installPackageResponse">

      <wsdl:part element="impl:installPackageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="runScriptRequest">

      <wsdl:part element="impl:runScript" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="installPackageRequest">

      <wsdl:part element="impl:installPackage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EC2LinuxIAService">

      <wsdl:operation name="runScript">

         <wsdl:input message="impl:runScriptRequest" name="runScriptRequest">

       </wsdl:input>

         <wsdl:output message="impl:runScriptResponse" name="runScriptResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="installPackage">

         <wsdl:input message="impl:installPackageRequest" name="installPackageRequest">

       </wsdl:input>

         <wsdl:output message="impl:installPackageResponse" name="installPackageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EC2LinuxIAServiceSoapBinding" type="impl:EC2LinuxIAService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="runScript">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runScriptRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runScriptResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="installPackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="installPackageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="installPackageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EC2LinuxIAServiceService">

      <wsdl:port binding="impl:EC2LinuxIAServiceSoapBinding" name="EC2LinuxIAService">

         <wsdlsoap:address location="http://example.com:8080/EC2-Linux-Service/services/EC2LinuxIAService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
